.fa-user {
	border-radius: 50%;
	font-size: 18px;
}
.share-link {
	font-size: 32px !important;
}
.POST_IMG {
	margin-right: 14px !important;
	margin-left: 14px !important;
	height: 60vh;
	width: 100vw !important;
}
.smaller{
	font-size: 0.87em;
}
.loading{
	background: white !important;
	z-index: 1;
	position: fixed;
	margin-top: -60px;
	margin-left: -40px;
width: 100% !important;
height:  100% !important;
}
.loading div {
	text-align: center;
	height:  100% !important;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}
.loading div img{
	height: 9pc;
	width: 13pc;
}


@media screen and (max-width:600PX){
	.POST_IMG {
		height: 48vw;
}
.mbv{
	margin-top: -5px;
}
}
.share span.w-auto {
	border-top: solid 2px rgb(201, 201, 201);
	font-weight: bold;
	font-size: 16px;
}
span.related {
	font-weight: bold;
	border-color: rgb(194, 187, 187) !important;
}
.about-betty .fa-user {
	font-size: 67px;
}
