@media screen and (max-width: 720px) {
	.sm-hidden {
		display: none !important;
	}
	.sm-visible {
		display: block;
	}
}
@media screen and (min-width: 720px) {
	.lg-hidden {
		display: none;
	}
	.lg-visible {
		display: block;
	}
}
/* .colaa{
	min-width: 12px !important;
} */
div .ssa{
	height: 34px;
	margin-top: 3px;
	padding-top: 3px !important;

}
.eje{
	margin-top: 3px !important;
	height: 33px;
}
.ssa{
	height: 34px;
	border-radius: 0em !important;
	width: 188px !important;
	max-width: 205px !important;
}
.ssa:valid:focus{
	border-radius: 0em !important;
	max-width: 205px !important;
}
.ssa input{
	border-radius: 0em !important;
	min-width: 90px !important;	
}
.ssa input:valid:focus{
border: 0 !important;
outline: 0 !important;
}

 .ssa span div{
	border-radius: 0em !important;
}
/* .ssa span div{
	border-radius: 0em !important;
}
.ssa span{
	padding-top: auto !important;
	padding-bottom: auto !important;
	
	height: 33px !important;

	margin-top: 4px !important;
	margin-bottom: 0em !important;
	
} */
.gh.v{
	font-weight: 100 !important;
}
.gh{
	font-size: 18px !important;
	color: rgb(216, 69, 43);
}
.font-wei{
	font-size: 14px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-transform: capitalize;
	font-weight: 400 !important;
	border: solid 1px;
	letter-spacing: 2px;
	color: rgb(136, 16, 16);
}
.glack {
	color: rgb(90, 88, 87);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
}
#nav-menu {
	border-left: rgb(11, 53, 77) solid;
}

.desk-link {
	color: rgb(255, 255, 255);
	background: rgba(236, 69, 69, 0.972);
	padding: 5px 10px !important;
	font-size: 13px;
}
.desk-link:hover {
	border-color: rgb(235, 246, 248);

	background: rgba(238, 79, 59, 0.816);
	color: white;
}

.nav-tabs {
	background: rgba(1, 22, 43, 0.856);
}
.nav-item {
	color: white;
	font-variant: small-caps;
	font-size: large;
}

.nav-item:hover .arrow {
	background: rgba(119, 81, 81, 0);
	color: rgb(168, 47, 23);
	padding-bottom: 9px;
	border: 0px 3px solid white;
}
.nav-item:hover{
		background: rgba(119, 81, 81, 0);

}

.arrow {
	color: white !important;
	border-radius: 50%;
}
.mobile-menu:hover {
	background: rgb(11, 53, 77);
	cursor: pointer;
}
.peach {
	background: rgb(231, 233, 231);
}
.use {
	border-radius: 50%;
	width: 37px;
	height: 35px;
	background: white;
}
.mobile-menu {
	color: white;
}
ul.drop-left{
	position: absolute;
	left: -80px !important;
	z-index: 2;
}
.hideam {
	visibility: hidden;
}
.broro{
	position: fixed;
	width: 100%;
	top: 0% !important;
	z-index: 20 !important;
	margin-bottom: 9px !important;
}
.hundus{
	position: relative !important;
}
.appss{
	padding-top: 50px !important;
	margin-top: 20px !important;
	margin-bottom: 20px !important;

}
.navsmeu{
		max-height: 409px;
		min-height: 609px;
		text-overflow: inherit;
		overflow-y: visible;
		padding-bottom: 50% !important;
		overflow-wrap: inherit;
		overflow: scroll;
	
	
}

.mobile-naav{
width: 100%;
min-height: 101%;
z-index: 2 !important;
color: black !important;
/* background: rgba(117, 30, 30, 0.986); */
background-image: linear-gradient(
		to top,
		rgba(14, 34, 66, 0.965),
		rgb(156, 119, 119),
		rgba(194, 161, 161, 0.993)
	);
}

.dropdowned{
	display: none;
}
.cati:focus  .dropdowned{
	display: block;
	position: relative;
	text-align: left !important;
	padding: 0%;
	border: none;
	opacity: 100% !important;
background: rgba(255, 255, 255, 0) !important;
z-index: 2;
}

.atin{
	text-align: left;
	border: none;
	background: none;
}


/* The side navigation menu */
.sidenav {
	height: 101%; /* 100% Full-height */
	max-height: 101%;
	min-height: 101%;
	overflow: scroll !important;
	padding-bottom: 140px !important;
	text-overflow: inherit;
	overflow-wrap: inherit;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
   
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll !important; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}
.nav-item{
 background-color: rgba(14, 40, 66, 0.637);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */