.footer {
	color: white;
	padding-top: 30px;
	background-image: linear-gradient(
		to top,
		rgba(27, 44, 71, 0.965),
		rgb(190, 146, 146),
		rgba(175, 157, 157, 0.993)
	);
}
.Footer-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}
